/* page background */
html {
  background-color: rgb(20, 20, 20);
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* nav bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(20, 20, 20);
  color: rgb(167, 166, 166);
  font-weight: bolder;
  font-size: x-large;
  padding: 15px 10px;
  position: relative;
  z-index: 2;
}
.btn-1 {
  background: rgb(45, 45, 45);
  color: rgb(159, 159, 159);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border: none;
  border: 1px solid white;
  border-radius: 3px;
}
.btn-2 {
  background: rgb(98, 98, 98);
  color: rgb(160, 160, 160);
  padding: 10px 20px;
  margin: 0 3px 5px 3px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border: 1px solid rgb(209, 208, 208);
}

.logo {
  flex: 10;
  font-size: larger;
  position: relative;
  top: -6px;
}
.logo-1 {
  text-decoration: none;
  color: rgb(167, 166, 166);
}

.nav-icon {
  display: flex;
  gap: 20px;
  align-items: center;
  flex: 2;
  justify-content: space-evenly;
}

/* wrapper for hover-triggered items */
.drop-down {
  position: relative;
  cursor: context-menu;
  z-index: 7;
}

/* hide by default */
.searchText {
  visibility: hidden;
  opacity: 0;
  transition: transform 0.25s ease-out, opacity 0.2s ease-out;
  position: absolute;
  top: 40px; /* drop down */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  border: none;
}

/* show on hover */
.drop-down:hover .searchText {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.login {
  background-color: rgb(45, 45, 45);
  padding: 12px;
  font-size: small;
  color: rgb(205, 205, 205);
  border-radius: 3px;
}
.drop-down:hover .searchText-1 {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.searchText-1 {
  visibility: hidden;
  opacity: 0;
  transition: transform 0.25s ease-in, opacity 0.2s ease-out;
  position: absolute;
  top: 40px; /* drop down */
  left: 115%;
  transform: translateX(-100%);
  white-space: nowrap;
  border: none;
  border: 1px solid white;
  border-radius: 3px;
}
.drop-down {
  height: 40px;
}

/* footer styles */
.footer {
  color: rgb(167, 166, 166);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  background-color: black;
  height: 400px;
  
}
.btn-4 {
  background-color: rgb(233, 0, 0);
  border: none;
  padding: 10px 33px;
  color: azure;
  border-radius: 3px;
  position: relative;
  font-size: medium;
  left: 1px;
  top: 13px;
  cursor: pointer;
}
.email {
  height: 40px;
  width: 260px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  border: none;
  border: 1px solid gray;
  color: white;
  font-size: large;
  padding: 0 10px;
  position: relative;
  top: 5px;
}
.footer-font-1{
  position: relative;
  top: -12px;
}
.footer-font {
  font-size: large;
  font-weight: bold;
}
.footer ul {
  list-style: none;
  position: relative;
  top: 37px;
}
.footer ul li {
  padding: 5px 0;
}

.footer-info {
  background-color: black;
  
}
.info {
  display: flex;
  background-color: black;
  color: rgb(167, 166, 166);
  padding: 30px;
}
.footer-info .info-icon {
  display: flex;
  flex: 2;
  justify-content: space-evenly;
}
.footer-info .text {
  flex: 10;
}

/* cart product list */

.cart {
  display: flex;
  padding-top: 35px;
  color: rgb(188, 188, 188);
}
.cart-pro img {
  height: 150px;
}

.cart-pro {
  padding: 30px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  font-weight: 500;
}
.cart-price {
  display: flex;
  font-weight: bold;
  gap: 20px;
  font-size: large;
}
.line-through {
  text-decoration: line-through;
  opacity: 0.6;
}
.cart-list {
  flex: 8;
  overflow-y: scroll;
  width: 80%;
  height: 500px;
  background-color: rgb(24 24 27);
  margin-left: 20px;
  margin-bottom: 80px;
}

.cart-list::-webkit-scrollbar {
  background-color: rgb(57, 57, 57);
}
.cart-list::-webkit-scrollbar-thumb {
  background-color: rgb(103, 103, 103);
}
.hr-1 {
  display: flex;
  width: 85%;
  opacity: 0.5;
}

.hr-2 {
  display: flex;
  width: 100%;
  opacity: 0.5;
}

.number-spinner {
  border: 1px solid rgb(152, 152, 152);
  display: flex;
  width: 40%;
  border-radius: 2px;
  height: 30px;
}
.number-spinner .spinner-input {
  background-color: rgb(23, 23, 23);
  width: 50%;
  border: none;
  color: red;
  font-weight: bold;
  text-align: center;
}

.number-spinner .spinner-input::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.number-spinner .minus {
  background-color: rgb(37 37 37);
  border: none;
  width: 35%;
  color: #bcbcbc;
  font-size: x-large;
  font-weight: bold;
}
.number-spinner .plus {
  background-color: rgb(37 37 37);
  border: none;
  width: 35%;
  color: #bcbcbc;
  font-size: large;
  font-weight: bold;
}
.cart-pro .delete{
  position: relative;
  bottom: 54px;
  cursor: pointer;
}

/* order summary styles */
.order-summary {
  flex: 3;
  display: flex;
  flex-direction: column;
  margin: 0 30px 0 30px;
  padding-left: 50px;
}
.order-summary .order-price {
  display: flex;
  justify-content: space-between;
}
.order-head {
  font-weight: bold;
  font-size: 22px;
  position: relative;
  top: -22px;
}
.order-price-1 {
  font-weight: bold;
}
.order-price-2 {
  font-weight: bold;
  color: green;
}
.order-price-3 {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 22px;
}
.btn-5 {
  border: none;
  background-color: rgb(244, 3, 3);
  padding: 10px 0;
  color: #fffefe;
  border-radius: 3px;
  font-size: large;
  cursor: pointer;
}
