/* page background */
html {
  background-color: rgb(20, 20, 20);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* nav bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(20, 20, 20);
  color: rgb(167, 166, 166);
  font-weight: bolder;
  font-size: x-large;
  padding: 15px 10px;
  position: relative;
  z-index: 2;
}
.btn-1 {
  background: rgb(45, 45, 45);
  color: rgb(159, 159, 159);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border: none;
  border: 1px solid white;
  border-radius: 3px;
}
.btn-2 {
  background: rgb(98, 98, 98);
  color: rgb(160, 160, 160);
  padding: 10px 20px;
  margin: 0 3px 5px 3px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border: 1px solid rgb(209, 208, 208);
  
  
}

.logo {
  flex: 10;
  font-size: larger;
  position: relative;
  top: -6px;
}

.nav-icon {
  display: flex;
  gap: 20px;
  align-items: center;
  flex: 2;
  justify-content: space-evenly;
}

/* wrapper for hover-triggered items */
.drop-down {
  position: relative;
  cursor: context-menu;
  z-index: 7;
}

/* hide by default */
.searchText {
  visibility: hidden;
  opacity: 0;
  transition: transform 0.25s ease-out, opacity 0.2s ease-out;
  position: absolute;
  top: 40px; /* drop down */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  border: none;
  
  
}

/* show on hover */
.drop-down:hover .searchText {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.login {
  background-color: rgb(45, 45, 45);
  padding: 12px;
  font-size: small;
  color: rgb(205, 205, 205);
  border-radius: 3px;
}
.drop-down:hover .searchText-1 {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.searchText-1 {
  visibility: hidden;
  opacity: 0;
  transition: transform 0.25s ease-in, opacity 0.2s ease-out;
  position: absolute;
  top: 40px; /* drop down */
  left: 115%;
  transform: translateX(-100%);
  white-space: nowrap;
  border: none;
  border: 1px solid white;
  border-radius: 3px;
  
}
.drop-down {
  height: 40px;
}

/* footer styles */
.footer {
  color: rgb(167, 166, 166);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  background-color: black;
  height: 400px;
}
.email {
  height: 40px;
  width: 260px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  border: none;
  border: 1px solid gray;
  color: white;
  font-size: large;
  padding: 0 10px;
  position: relative;
  top: 5px;
}

.footer-font {
  font-family: "Lilita One", sans-serif;
  font-size: large;
}
.footer ul {
  list-style: none;
  position: relative;
  top: 37px;
}
.footer ul li {
  padding: 5px 0;
}

.footer-info {
  background-color: black;
  margin: 0;
  padding: 0;
}
.info {
  display: flex;
  background-color: black;
  color: rgb(167, 166, 166);
  padding: 30px;
}
.footer-info .info-icon {
  display: flex;
  flex: 2;
  justify-content: space-evenly;
}
.footer-info .text {
  flex: 10;
}
