html {
  background-color: rgb(20, 20, 20);
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* nav bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(20, 20, 20);
  color: rgb(167, 166, 166);
  font-weight: bolder;
  font-size: x-large;
  padding: 15px 10px;
  position: relative;
  z-index: 2;
}
.btn-1 {
  background: rgb(45, 45, 45);
  color: rgb(159, 159, 159);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border: none;
  border: 1px solid white;
  border-radius: 3px;
}
.btn-2 {
  background: rgb(98, 98, 98);
  color: rgb(160, 160, 160);
  padding: 10px 20px;
  margin: 0 3px 5px 3px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border: 1px solid rgb(209, 208, 208);
}

.logo {
  flex: 10;
  font-size: larger;
  position: relative;
  top: -6px;
}

.nav-icon {
  display: flex;
  gap: 20px;
  align-items: center;
  flex: 2;
  justify-content: space-evenly;
}

/* wrapper for hover-triggered items */
.drop-down {
  position: relative;
  cursor: context-menu;
  z-index: 7;
}

/* hide by default */
.searchText {
  visibility: hidden;
  opacity: 0;
  transition: transform 0.25s ease-out, opacity 0.2s ease-out;
  position: absolute;
  top: 40px; /* drop down */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  border: none;
}

/* show on hover */
.drop-down:hover .searchText {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.login {
  background-color: rgb(45, 45, 45);
  padding: 12px;
  font-size: small;
  color: rgb(205, 205, 205);
  border-radius: 3px;
}
.drop-down:hover .searchText-1 {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.searchText-1 {
  visibility: hidden;
  opacity: 0;
  transition: transform 0.25s ease-in, opacity 0.2s ease-out;
  position: absolute;
  top: 40px; /* drop down */
  left: 115%;
  transform: translateX(-100%);
  white-space: nowrap;
  border: none;
  border: 1px solid white;
  border-radius: 3px;
}
.drop-down {
  height: 40px;
}

/* product discription */
.pro-description {
  display: flex;
}
.pro-description .side-img img {
  flex: 2;
  height: 100px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(71, 71, 71);
  margin: 40px;
  padding: 5px;
  border-radius: 3px;
}
.pro-description .side-img .side-img-1 {
  height: 100px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(219, 219, 219);
  margin: 40px;
  padding: 5px;
  border-radius: 3px;
}
.pro-description .main-img img {
  flex: 6;
  position: relative;
  height: 590px;
  top: 21px;
}
.pro-description .third {
  color: rgb(165, 165, 165);
  flex: 4;
  margin: 40px;
}
.third-1 {
  font-weight: bold;
  font-size: 30px;
}
.third-2 {
  font-weight: bold;
}
.third-3 {
  color: red;
}
.third-3 span {
  color: rgb(165, 165, 165);
}
.third-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.third-5 {
  position: relative;
  top: -24px;
}
.third-6 {
  margin-top: 32px;
  font-weight: bold;
  font-size: large;
}
.third-7 {
  display: flex;
  margin-bottom: 32px;
}
.btn-6 {
  border: none;
  background-color: rgb(30, 30, 30);
  color: rgb(183, 182, 182);
  font-size: larger;
  padding: 10px 66px 10px 10px;
  border-radius: 3px;
  text-align: start;
  margin: 5px;
  border: 1px solid rgb(92, 92, 92);
}
.btn-5 {
  border: none;
  padding: 7px 15px;
  background-color: green;
  color: rgb(231, 231, 231);
  font-size: larger;
  font-weight: bold;
  border-radius: 5px;
}
.btn-7 {
  background-color: rgb(233, 0, 0);
  border: none;
  padding: 14px 100px;
  color: azure;
  border-radius: 3px;
  position: relative;
  font-size: large;
  left: 1px;
  top: 30px;
  cursor: pointer;
}
.green {
  color: green;
  font-weight: 500;
}
.third-price {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  gap: 20px;
}
.line-through {
  text-decoration: line-through;
  opacity: 0.7;
  font-size: 20px;
  align-content: center;
}

/* specificatin styles */
.specification {
  color: rgb(167, 166, 166);
  margin-top: 160px;
  margin-bottom: 75px;
}
.spec-2 {
  display: flex;
}
.spec-2 ul {
  list-style: none;
  
}
.spec-2 ul li{
  list-style: none;
  margin-top: 30px;
  
}
.spec-3{
margin-right: 223px;
font-weight: 500;
}
.spec-4{
  font-weight: bold;
      justify-items: end;
}
.head-list-1 {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 125px;
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 4px;
  align-items: center;
}

.head-list-1 .spec-1 {
  background-color: red;
  color: aliceblue;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* top-product styles */

.head-list .all {
  background-color: red;
  color: aliceblue;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.top-container h2 {
  font-size: xx-large;
  padding: 150px 0 40px 0;
}
.top-container {
  color: rgb(167, 166, 166);
  width: 100%;
  justify-items: center;
}
.top-container .head-list {
  display: flex;
  width: 65%;
  justify-content: space-around;
  padding: 0 0 40px 0;
  font-size: 20px;
}
.top-container .head-list p {
  padding: 8px 20px;
}
.top-container .head-list p:hover {
  background-color: red;
  color: aliceblue;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.top-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product-list img {
  height: 179px;
  display: flex;
  padding: 15px 59px;
  background-color: rgb(29, 29, 29);
  border-radius: 3px;
}

.product-list {
  border: 1px solid gray;
  margin: 5px;
  border-radius: 3px;
}
.top-heading {
  font-size: 20px;
  font-weight: bold;
}
.top-btn {
  background-color: rgb(248, 2, 2);
  border: none;
  color: azure;
  margin: 0 10px 15px 10px;
  border-radius: 3px;
  font-size: 15px;
  padding: 6px 101px;
  cursor: pointer;
}
.top-rating {
  color: rgb(239, 17, 17);
}
.pro-prices {
  display: flex;
  font-size: 23px;
  gap: 15px;
  font-weight: bold;
}
.discription {
  padding: 0 15px;
}
.hr-1 {
  display: flex;
  width: auto;
  opacity: 0.5;
}
.browse-all {
  position: relative;
  top: 165px;
  right: -82px;
  font-size: x-large;
  cursor: pointer;
}

/* advantage section styles */
.advantages h2 {
  padding: 150px 0 0 0;
  display: flex;
  color: rgb(167, 166, 166);
  justify-content: center;
  font-size: xx-large;
}
.advantages .adv-section {
  display: flex;
  padding: 50px;
}
.advantages .adv-sec {
  display: flex;
  color: rgb(167, 166, 166);
}

.advantages .adv-container {
  display: flex;
  width: 100%;
  color: rgb(167, 166, 166);
  justify-content: space-evenly;
}

.adv-icon {
  position: relative;
  top: 33px;
  left: -16px;
}

/* footer styles */
.footer {
  color: rgb(167, 166, 166);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  background-color: black;
  height: 400px;
  width: 100%;
}
.btn-4 {
  background-color: rgb(233, 0, 0);
  border: none;
  padding: 10px 33px;
  color: azure;
  border-radius: 3px;
  position: relative;
  font-size: medium;
  left: 1px;
  top: 13px;
  cursor: pointer;
}
.email {
  height: 40px;
  width: 260px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  border: none;
  border: 1px solid gray;
  color: white;
  font-size: large;
  padding: 0 10px;
  position: relative;
  top: 5px;
}
.footer-font-1 {
  position: relative;
  top: -12px;
}
.footer-font {
  font-size: large;
  font-weight: bold;
}
.footer ul {
  list-style: none;
  position: relative;
  top: 37px;
}
.footer ul li {
  padding: 5px 0;
}

.footer-info {
  background-color: black;
  width: 100%;
}
.info {
  display: flex;
  background-color: black;
  color: rgb(167, 166, 166);
  padding: 30px;
}
.footer-info .info-icon {
  display: flex;
  flex: 2;
  justify-content: space-evenly;
}
.footer-info .text {
  flex: 10;
}
